*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: #E75480;
    background-color: #FFE8EE;
    box-sizing: border-box;
}

.div-logos{
    display: flex;
}
#nav-logo{
    background-image: url(jaipur-logo.webp);
    height: 60px;
    width: 115px;
    background-size: cover;
    background-color: aliceblue;
    display: flex;
 }
#nav-logo2{
    background-image: url(pink_city_tours_logo.png);
    height: 60px;
    width: 280px;
    background-size: cover;
    background-color: aliceblue;
    display: flex;
 }

#navbar {
    height: 60px;
    background-color: #E75480 ;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
   
 }   
 
.navbar2{
    display: flex;
    align-items: center;
    background-color: #E75480 ;
    justify-content: end;
    justify-content: space-around;
    width: 500px;

} 
  
.nboption{
    color: white;
    font-weight: 500;
    font-size:1.3rem;
    text-decoration: none;
    background-color: #E75480; 
    border-radius: 5px;
    position: relative;
    text-align: center;
} 

.nboption:hover { 
  transition: 0.2s ease;
  color:rgba(218, 165, 32, 0.874) ;
   
}
.nboption::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 100%;
    width: 0;
    height: 3px;
    background: #C9A961;
    transition: right 0.3s ease, width 0.3s ease;
}

.nboption:hover::after {
    right: 0;
    width: 100%;
}
 
.slidein-header{
    height: 400px;
    width: 600px;
    display: inline-block;
    align-content: center;
    margin: 50px;
    background-color: transparent;
    

}
.slidein-heading{
    font-size: 4.5rem;
    background-color: transparent;

}
.slidein-para{
    margin-top: 20px;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.514);
    background-color: transparent;
}
 
 .slidein-button{
    margin-top: 25px;
    background-color: #E75480;
    color: #FFE8EE;
    height: 55px;
    width: 200px;
    border-radius: 15px;
    border: 0px;
    font-weight: 800;
    transition: all 0.3s ease;
    cursor: pointer;

}
.slidein-button:hover{
     box-shadow: 0 16px 40px rgba(231, 84, 128, 0.4);   
      transform: translateY(-4px);  
      background:  #d63c6ff6;   
}

.slidein-button:active {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(231, 84, 128, 0.3);
}
 

  @keyframes slideScaleIn {
    from {
        opacity: 0;
        transform: translateX(-50px) scale(.95);
    }
    to {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}

.slidein-header {
    animation: slideScaleIn 1s ease;
} 
 

/* Ab hai section1 ki baari  */


/* herosection */

.herosection-image{
    background-image: url(pink_city_tours_main_page_bg\ \(6\).png);
    height: 650px;
    background-size: cover;
    width: 100%;
    background-position: center;
    background-attachment: fixed;
}
 
.section-whyjaipur{
    background-color: white;
    height: 570px;
    padding-top: 40px;
    width: 100%;
}
.section-whyjaipurcontent{
    background-color: white;
           
}

.swj-heading1{
    font-size: 3.5rem;
    background-color: white;
    text-align: center;
}
.swj-heading2{
    font-size: 3rem;
    background-color: white;
    text-align: center;
}
.section-paragrapghs{
      background-color: white;
       
    }
 
 .sp{
    color:rgba(0, 0, 0, 0.514);
    margin-top: 20px;
    font-size: 1.3rem;
    background-color: white;
    text-align: center;
    padding: 0px 80px 30px 80px;
  }

 .section-packages{
    height: 1100px;
    width: 100%;
    background-color: #FFE8EE;
    padding :0px 32px;

 }

 .packages-heading {
    margin-top: 40px;
    font-size: 3.5rem;
    text-align: center;

 }
 .packages-para{
    font-size: 1.3rem;
    color:rgba(0, 0, 0, 0.514);
    text-align: center;
    width: 1200px;
}

 /* Package-grid */

 .packages-container{
    padding:30px 100px 30px 100px ;
    display:grid;
    grid-template-columns: 1fr 1fr ;
    gap: 2rem; 
     
 }
 .packages-container div{
    background-color: white;
    height:400px;
    width: 350px;
    border: 1.4px solid transparent;
    border-radius:10px;
    font-size: 1.3rem;
    font-weight: 700;
    padding: 20px;
}
.packages-container div:hover{
    /* box-shadow: 0 16px 40px rgba(231, 84, 128, 0.4);    */
      /* transform: translateY(-4px)   ; */
      border: #C9A961 1.4px solid;

      transition: 0.2s ease;
      /* background:  #d63c6ff6; */
}

.package1 span{
    background-color:transparent ;
color:#C9A961 ;
font-weight: 900; 
font-size: 1.6rem;
display: inline-block;
margin-left: 110px;
}
  
.package-duration{
    background-color: transparent;
    color:#666666;
    font-size: .8rem;
    margin-top:10px ;

}
.package-ul{
    background-color: transparent;
    margin-top: 35px;

}
.package-list  {
    color: #666666;
    margin-top: 20px;
    list-style: none;
    background-color: transparent;
    font-size: 1.0rem;
}
.package-ul ::before {
    content: '✓';              
    color: #C9A961;   
}
.package-button{
    background-color: #E75480;
    color:#FFE8EE;
    font-weight: 700;
    width: 100%;
    height: 2.5rem;
    border-radius: 7px;  
    border: 0px;
    margin-top: 80px;   

}
.packages-container button:hover{
    /* box-shadow: 0 16px 14px rgba(231, 84, 128, 0.4);    */
      transform: translateY(-2px);  
      transition: 0.2s ease;
      scale: 1rem;
      background:  #d63c6f;
      color: white;
}


/* TOP ATTRACTIONS PAGE  */


.top_attractions {
    height: 800px ;
    background-color: white;
    margin-top: 50px;
    padding-top: 40px;
 
 }


.destinations-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
    padding:30px  ;
    /* margin: 0px 40px 20px 40 px; */
    background-color: transparent;
     
}

.destination-header{
    /* justify-self:center; */
    background-color:transparent;
}
.destination-header h2{
 background-color: transparent;
 font-size: 3.5rem;
 justify-self:center ;
}
.destination-header p{
 background-color: transparent;
 font-size: 1.3rem;
 color: #666666;
  justify-self:center ;
 display: flex; 
}

.container{
    align-items: center;
    height: 420px;
    border-radius: 7px;
    background-color: white;
    box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.219);
    }
    .container:hover{
        transform: translateY(-4px);
        transition: 0.2s ease-in;
        box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.436);
    }

.container img{
    width:350px;
    height:200px;
    border-radius: 7px 7px 0px 0px  ;
}

.destination-content {
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    background-color: white;

 }
.destination-content div {
    padding: 2px 0px 20px 0px  ;
    color: #666666;
    background-color: white;

}
.destination-content p {
    color: #666666;
    background-color: white;
    /* text-align: center; */
}
.destination-content h3{
    background-color: white;
    font-size: 1.3rem;
}


/* foooter's turn  */
.footer {
    background-color: #d63c6f;
    height: 350px;
    padding-top:45px ;
    
}
.footer-panel{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    background-color: #d63c6f;
    padding: 30px 30px 40px 45px;
}
.fpc-header{
    background-color: #d63c6f;
    color: #FFE8EE;

}

.fp-content {
    background-color: #d63c6f;  
} 

.fp-content h3{
    font-weight: 700;
    font-size: 1.5rem;
    justify-content: center;

}
.fp-content p {
    background-color: #d63c6f;
    color: #FFE8EE;
    padding-top: 20px;
    font-size: 1.1rem;
}
.fp-list{
    background-color: #d63c6f;
    list-style: none;
    /* margin: 20px; */
    padding: 15px 0px 0px 0px;

}
.fp-list a{
    color: #FFE8EE;
    background-color: #d63c6f;
    font-weight: 700;  
}
.fp-list a:hover{
    color: #C9A961;
    background-color: #d63c6f;
    font-weight: 700;
    transition: 0.2s ease-in ;
    
}
.footer-copyright{
    border-top: 0.5px solid rgba(255, 255, 255, 0.26);
    padding: 30px 20px 0px 20px;
    display: flex;
    justify-content:center ;
    
    background-color: #d63c6f;



}
.footer-copyright a{
    background-color: #d63c6f;
    color: #C9A961;

}

.footer-copyright p {
    background-color: #d63c6f;
    color: #FFE8EE;
}